@import "./variables.scss";

.btn {
  padding: 8px 14px;
  font-family: "Sono", monospace;
  font-style: normal;
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-save,
.btn-add {
  align-self: center;
  background-color: $primary__color;
  color: #ffffff;
  font-size: 14px;
}

.btn-delete {
  display: none;
  height: 20px;
  background-image: url("../../assets/bin.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-success {
  background-color: $success__color;
}
