<div class="container">
  <form (ngSubmit)="onAddProject()" [formGroup]="projectForm">
    <div
      class="input-field"
      [ngClass]="{ ' ng-invalid ng-touched': isInputValue }"
    >
      <input type="text" placeholder="Project name" formControlName="name" />
    </div>
    <button class="btn btn-add" type="submit">Add project</button>
  </form>
  <br />
  @for (project of projects; track project; let i = $index) {
  <app-project-item
    [project]="project"
    [index]="i"
    (selectProject)="onSelectProject($event)"
    (deteteProject)="onDeteleProject($event)"
  ></app-project-item>
  }
</div>
