.container {
  // padding: 60px 20px;
  height: 100vh;
  padding: 60px 20px;
  border-right: 1px solid #f4f4f4;
}

.input-field {
  margin-bottom: 40px;
  height: 40px;
  background-color: #F8F8F8;
  border-radius: 10px;

  & input {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}