<div class="container">
  <div class="input-field">
    <input type="text" name="" #taskInput placeholder="Quickly add a task" (keyup.enter)="onAddTask()" />
  </div>
  @for (taskEl of tasks; track taskEl.title; let i = $index) {
    @if (!taskEl.isChecked) {
      <app-task-item
        [task]="taskEl"
        [index]="i"
        [projectName]="selectedProjectName"
      ></app-task-item>
    }
  }
  <br />
  <p>Completed</p>
  @for (taskEl of tasks; track taskEl.title; let i = $index) {
    @if (taskEl.isChecked) {
      <app-task-item
        [task]="taskEl"
        [index]="i"
        [projectName]="selectedProjectName"
      ></app-task-item>
    }
  }
  <br />
</div>
