<div class="container" *ngIf="isSelected">
  <form class="form" [formGroup]="taskForm" (ngSubmit)="onUpdateDescription()">
    <h3>{{ task.title | shorten : 30 }}</h3>
    <textarea
      name="description"
      rows="20"
      placeholder="Add your description here..."
      [formControlName]="'description'"
    ></textarea>
    @if (taskForm.value.description !== task.description) {
    <button class="btn btn-save">Save</button>
    }
    <!-- @if (taskForm.touched) {
    <button class="btn btn-save">Save</button>
    } -->
  </form>
</div>
