.task__item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  // border-bottom: 1px solid #f4f4f4;
  border-radius: 4px;
  cursor: default;

  &.selected {
    background-color: #eff3fe;
  }

  // &:hover {
  //   background-color: #eff3fe;
  //   cursor: default;
  // }

  & .task__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.task__title {
  &.disabled {
    text-decoration: line-through;
  }
}
