.task__item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    .btn-delete {
      display: inline-block;
    }
  }
}

.task__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__title {
  &.disabled {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
