.container {
  height: 100vh;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;

  & h3 {
    word-break: break-all;
  }

  & textarea {
    width: 100%;
    border: none;
    outline: none;
  }
}
