<div class="container">
  @if (isSelected) {
    <form class="task__form" (ngSubmit)="onSubmit()" [formGroup]="taskForm">
      <div class="form__container">
        <div class="form-header__container">
          <input type="text" [value]="task.title | shorten : 25" formControlName="title" />
          <select class="project__selector" formControlName="project">
            @for (project of projects; track project) {
              <option [value]="project" [selected]="project === projectName">
                {{ project | uppercase }}
              </option>
            }
          </select>
        </div>
        <div class="form-content__container">
          <textarea
            name="description"
            rows="20"
            placeholder="Add your description here..."
            formControlName="description"
            >{{ task.description }}</textarea
          >
        </div>
      </div>
      <div class="form__container">
        @if (taskForm.dirty) {
          <button class="btn btn-save" [class.btn-success]="isSent">
            Save
          </button>
        }
      </div>
    </form>
  } @else {
    <app-start-task-details></app-start-task-details>
  }
</div>
